body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}